<!-- Component: #L001-U015-P26.0234 -->
<config>
    <!-- Configuring folder path -->
    <file_config>
        <input_path>./Input/</input_path>
        <output_path>./Output/</output_path>
    </file_config>
    <!-- Configuring DMA Algorithm parameters -->
    <visit_config>
        <threshold_1>200</threshold_1>
        <threshold_2>4</threshold_2>
        <threshold_3>0.4</threshold_3>
        <threshold_4>300</threshold_4>
        <threshold_5>100</threshold_5>
        <threshold_6>300</threshold_6>
        <threshold_7>2</threshold_7>
        <threshold_8>10</threshold_8>
    </visit_config>
    <!-- Configuring output file name suffixes -->
    <it_config>
        <original>original</original>
        <percentage_variation>percentage_variation</percentage_variation>
        <new_base>new_base</new_base>
        <fane_values>fane_values</fane_values>
        <visual_correction>visual_correction</visual_correction>
        <bmri>BMRi</bmri>
        <final_report>final_report</final_report>
    </it_config>
</config>
